.first {
    background-image: url("../assets/secretBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

.backButton {
    background-color: #333333;
    text-decoration: none;
    color: yellowgreen;
}

.main {
    position: absolute;
    top: 38%;
    left: 42%;
    border: 7px dashed white;
    border-radius: 15px 15px 15px 15px;
}

.mainText {
    padding: 45px;
    font-size: large;
    text-align: center;
    color: white;
}